body{
  width: 1400px; 
  height: 783px;
  background-color: black;
}
.main__section{
  display: flex;
  gap: 50px;
  width: 1400px; 
  height: 783px;
  margin: 107px 134.55px 123.72px 134.45px;
  
}
.section__block_left {
  display: flex;
  flex-direction: column;
  width: 442px;
  gap: 42px;
}
.section__leftblock_mid{
    display: grid;
    grid-template: 106px 106px / 190px 1fr;
}
.section2__h2{
  font-family: "Yeseva One", sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 139%;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: #e3b873;
  margin: 0;
}
.section__p_14px{
  font-family: "Nunito Sans", sans-serif;;
  font-weight: 400;
  font-size: 14px;
  line-height: 191%;
  color: #fff;
  margin-top: 34px;
  margin-bottom: 0;
}
.section2__leftblock_mini{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section2__h_mini{
  font-family: "Yeseva One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-transform: uppercase;
  color: #e3b873;
  margin: 0;
}
.section2__p_mini{
  font-family: "Nunito Sans", sans-serif;;
  font-weight: 400;
  font-size: 13px;
  line-height: 164%;
  color: #fff;
  margin: 0;
}
.section2_points{
  display: flex;
  gap: 17.54px;
}
.section2__leftblock_bottom{
  display: flex;
  align-items: center;
  gap: 29.5px;
  margin-top: 37.54px;
}
.section2__button_arrow{
  border: none;
  background: none;
}
a:hover, button:hover{
  cursor: pointer;
}
.section2__li_a{
  font-family: "Yeseva One", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 139%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}
.section2__li_a.active{
    font-family: "Yeseva One", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 139%;
  text-transform: uppercase;
  color: #e3b873;
  border-bottom: 1px solid #e3b873;
  padding-bottom: 6.68px;
}
.section2__ul{
  padding: 0;
  display: flex;
  gap: 60.5px;
  margin: 0 0 45px 0;
}
.dots.active{
border-radius: 30px;
 width: 9px;
 height: 9px;
 background: #fff
}
.dots{
  border-radius: 30px;
   width: 9px;
   height: 9px;
   background: rgba(255, 255, 255, 0.3)
}